@{
    ViewData["Title"] = "Index";
}

@model List<ProductViewModel>

<h1>Products</h1>

@if (TempData["status"] != null)
{
    <div class="alert alert-success">
        @TempData["status"]
    </div>
}

<a asp-controller="products" asp-action="Add">Add a Product</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>IsPublish</th>
            <th>Expire Time</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Stock</td>
                <td>@p.Color</td>
                <td>@(p.IsPublish ? "YES" : "NO") </td>
                <td>@(p.Expire == 0 ? "---" : p.Expire)</td>
                <td>@(p.Description.Length > 20 ? @p.Description.Substring(0, 10) : p.Description)</td>
                <td>
                    <p>
                        <a asp-controller="products" asp-action="Remove" asp-route-id="@p.Id">Delete</a>
                        |
                        <a asp-controller="products" asp-action="Update" asp-route-id="@p.Id">Update</a>
                        |
                        <a asp-controller="products" asp-action="GetById" asp-route-id="@p.Id">Details</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>

